@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .heroClipPath{
 
        clip-path: polygon(0% 38.89%, 0% 0%, 100% 0%, 100% 62.96%);
    }
 
 }

 body{
    overflow-x: hidden;
 }
 .paddingFix > div{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
 }

