@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .heroClipPath{
 
        clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 70%);
    }
 
 }

 body{
    overflow-x: hidden;
    color: black
 }
 .paddingFix > div{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
 }

 @media screen and (max-width: 992px) {
   .heroClipPath{
 
      clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 60%);
  }
 }

 @media screen and (max-width: 850px) {
   .heroClipPath{
 
      clip-path: polygon(0% 40%, 0% 0%, 100% 0%, 100% 50%);
  }
 }